In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Exploratory Data Analysis##

In [2]:
dataframe=pd.read_excel('peps300.xlsx')

dataframe.head()

,OPEID,Name,Address,City,State,State Desc,Zip Code,Zip Ext,Prog Length,School Type,...,Year 2,Dual Num 2,Dual Denom 2,DRate 2,PRate 2,Year 3,Dual Num 3,Dual Denom 3,DRate 3,PRate 3
0,41176,LARRY'S BARBER COLLEGE ...,10456 S. HALSTED STREET ...,CHICAGO,IL,ILLINOIS ...,60628,2322,3,3,...,2012,1.0,2.0,50.0,B,2011,0.0,0.0,0.0,A
1,41480,NEW LIFE BUSINESS INSTITUTE ...,161-10 JAMAICA AVENUE SUITE 404 ...,JAMAICA,NY,NEW YORK ...,11432,6149,3,3,...,2012,90.0,235.0,38.2,A,2011,59.0,182.0,32.4,A
2,36803,JAY'S TECHNICAL INSTITUTE ...,11910 FONDREN MEADOW DR. ...,HOUSTON,TX,TEXAS ...,77071,3509,3,3,...,2012,35.0,67.0,52.2,A,2011,37.0,91.0,40.6,A
3,22429,UNITED TRIBES TECHNICAL COLLEGE ...,3315 UNIVERSITY DRIVE ...,BISMARCK,ND,NORTH DAKOTA ...,58504,7596,6,2,...,2012,61.0,138.0,44.2,A,2011,19.0,43.0,44.1,A
4,2934,ISOTHERMAL COMMUNITY COLLEGE ...,286 ICC LOOP ROAD ...,SPINDALE,NC,NORTH CAROLINA ...,28160,0804,5,1,...,2012,15.0,19.0,78.9,B,2011,0.0,0.0,0.0,A

In [3]:
dataframe.dtypes

OPEID                            int64
Name                            object
Address                         object
City                            object
State                           object
State Desc                      object
Zip Code                        object
Zip Ext                         object
Prog\nLength                     int64
School\nType                     int64
Year 1                           int64
\nNum 1                          int64
\nDenom 1                        int64
DRate 1                        float64
PRate 1                         object
Ethnic Code                      int64
Cong Dis                        object
Region                           int64
Average or\nGreater than 30      int64
Rate Type                       object
Year 2                           int64
Dual\nNum 2                    float64
Dual\nDenom 2                  float64
DRate 2                        float64
PRate 2                         object
Year 3                           int64
Dual\nNum 3                    float64
Dual\nDenom 3                  float64
DRate 3                        float64
PRate 3                         object
dtype: object

## For 2013, what are the top 3 schools that have the highest number of borrowers in Default?##

In [4]:
dataframe[dataframe['Year 1'].isnull()]

Empty DataFrame
Columns: [OPEID, Name, Address, City, State, State Desc, Zip Code, Zip Ext, Prog
Length, School
Type, Year 1,
Num 1,
Denom 1, DRate 1, PRate 1, Ethnic Code, Cong Dis, Region, Average or
Greater than 30, Rate Type, Year 2, Dual
Num 2, Dual
Denom 2, DRate 2, PRate 2, Year 3, Dual
Num 3, Dual
Denom 3, DRate 3, PRate 3]
Index: []

[0 rows x 30 columns]

In [5]:
print len(dataframe['Name'].unique())
print len(dataframe)

4464
4759

In [6]:
dataframe.ix[0:,11:12].columns

Index([u'\nNum 1'], dtype='object')

In [7]:
df_notnull=dataframe[dataframe['\nNum 1']!=0]

print len(df_notnull['Name'].unique())
print len(df_notnull)

4345
4637

In [8]:
df_default=df_notnull.groupby('Name')['\nNum 1'].agg('sum')
df_default.sort(ascending=False)
df_default.head(3)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  from ipykernel import kernelapp as app

Name
UNIVERSITY OF PHOENIX                                                26004
ITT TECHNICAL INSTITUTE                                              10726
EVEREST UNIVERSITY                                                   10377
Name: \nNum 1, dtype: int64

## Which of the schools with Ethnic Code of “Hispanic” has the lowest CDR? (Ethnic Code == 3)##

In [9]:
df_Hispanic=dataframe[dataframe['Ethnic Code']==3]

In [10]:
print len(df_Hispanic)
print len(df_Hispanic['Name'].unique())

142
142

In [11]:
df_Hispanic['AVG_CDR']=df_Hispanic[['DRate 3', 'DRate 2', 'DRate 1']].mean(axis=1)

df_cdr=df_Hispanic[['Name','AVG_CDR']].sort(columns='AVG_CDR')

df_cdr.head(1)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                                                   Name   AVG_CDR
4314  UNIVERSITY OF MIAMI                           ...  2.233333

## Between 2011 and 2013, which school has the largest increase in CDR?##

In [12]:
df_drate=dataframe[['Name', 'DRate 1', 'DRate 3']]

df_drate['increase_CDR']=df_drate['DRate 1']-df_drate['DRate 3']

df_drate.sort(columns='increase_CDR', ascending=False).head(1)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Name,DRate 1,DRate 3,increase_CDR
0,LARRY'S BARBER COLLEGE ...,48.3,0.0,48.3

## Which state has the most “proprietary” schools (SchoolType == 3)?

In [13]:
df_schooltype=dataframe[['State', 'School\nType']]

type_3=df_schooltype[df_schooltype['School\nType']==3]

type_3=type_3.groupby('State')['School\nType'].agg('sum')/3

type_3.sort(ascending=False)
type_3.head(1)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

State
CA    189.0
Name: School\nType, dtype: float64

## Which state’s schools have the highest average CDR?

In [14]:
df_cdr_state=dataframe[['State','Name','DRate 3', 'DRate 2', 'DRate 1']]

In [15]:
df_cdr_state['avg_cdr']=df_cdr_state[['DRate 3', 'DRate 2', 'DRate 1']].mean(axis=1)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
print len(df_cdr_state)
print len(df_cdr_state['Name'].unique())

4759
4464

In [17]:
mean_by_state=df_cdr_state.groupby('State').mean()

In [18]:
mean_by_state.sort(columns='avg_cdr', ascending=False).head(1)

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         DRate 3    DRate 2    DRate 1    avg_cdr
State
WV     18.789362  16.029787  14.910638  16.576596