In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pandas_datareader.data as web
from datetime import timedelta
import datetime
%load_ext sql
engine = create_engine('postgresql://localhost:5432/kylesdb')

/Users/kyletoomey/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/kyletoomey/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
start = datetime.datetime(2015,01,01)
end = datetime.datetime.now()

Tesla = web.DataReader('tsla','google',start,end)
GM = web.DataReader('GM','google',start,end)
Ford = web.DataReader('F','google',start,end)
Daimler = web.DataReader('DDAIF','google',start,end)
Toyota = web.DataReader('TM','google',start,end)
Solar = web.DataReader('SCTY', 'google', start, end)
SP_500 = web.DataReader('^GSPC', 'yahoo', start, end)
Nasdaq = web.DataReader('^IXIC', 'yahoo', start, end)

In [7]:
Tesla.tail()

              Open    High     Low   Close   Volume
Date
2016-10-11  201.85  202.20  198.31  200.10  2328422
2016-10-12  200.95  203.88  200.42  201.51  1970689
2016-10-13  200.50  200.90  197.05  200.24  2495413
2016-10-14  200.66  201.43  196.30  196.51  4269850
2016-10-17  197.05  198.39  192.00  193.96  4554080

In [4]:
pd.DataFrame.to_sql(Tesla, 'tesla', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(GM, 'GM', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(Ford, 'ford', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(Daimler, 'daimler', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(Toyota, 'toyota', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(Solar, 'solar', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(SP_500, 'sp_500', engine, if_exists='replace', index='Date')
pd.DataFrame.to_sql(Nasdaq, 'nasdaq', engine, if_exists='replace', index='Date')

In [5]:
# %%sql postgresql://localhost:5432/kylesdb

# SELECT * FROM tesla
# LEFT JOIN ford ON tesla.Date;

In [6]:
# %%sql postgresql://localhost:5432/kylesdb

# DROP TABLE IF EXISTS master;
# CREATE TABLE master
# (date varchar,
#  T_open varchar,
#  departure_cancellations varchar,
#  arrival_cancellations varchar,
#  departure_diversions varchar,
#  arrival_diversions varchar);